@page
@using System.Web
@model IndexModel
@{
	ViewData["Title"] = "My List";
}
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
	<symbol id="bi-trash" viewBox="0 0 16 16">
		<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
		<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
	</symbol>
	<symbol id="bi-archive" viewBox="0 0 16 16">
		<path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
	</symbol>
	<symbol id="bi-clipboard" viewBox="0 0 16 16">
		<path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z" />
		<path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z" />
	</symbol>
	<symbol id="bi-download" viewBox="0 0 16 16">
		<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
		<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
	</symbol>
	<symbol id="bi-check-circle" viewBox="0 0 16 16">
		<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
		<path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
	</symbol>
	<symbol id="bi-slash-circle" viewBox="0 0 16 16">
		<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
		<path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708z" />
	</symbol>
</svg>
<section class="py-5 text-center container" style="background: url('/images/applicationlist.jpg');  background-repeat: no-repeat; background-size: 100% 100%;">
	<div class="row py-lg-5">
		<div class="col-md-8 mx-auto text-light">
			<h1 class="fw-light">Your Application List</h1>
			<p class="lead">This list displays the applications you selected. If there are no apps, please visit the application listing on the home page, where you will find the approved application list.</p>
			<p>
				<a href="/Applications/" class="btn btn-primary my-2">View applications</a>
			</p>
		</div>
	</div>
</section>
<div class="py-5">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-header d-flex align-items-center">
						<div class="flex-grow-1">Applications I have selected</div>
						<div>
							<form method="post" asp-page-handler="RemoveAllFromCart" class="d-inline-flex">
								<button type="submit" class="btn btn-sm btn-outline-danger removeAppFromList" title="Click to remove all items from your list." @((Model.ContainsListItems) ? null : new { disabled = "disabled" })>
									<svg class="bi" width="1em" height="1em"><use xlink:href="#bi-trash"></use></svg> Remove All
								</button>
							</form>
						</div>

					</div>
					<form method="post">
						@if (Model.MyList == null || Model.MyList.Count().Equals(0))
						{
							<div class="card-body">
								<div class="bs-callout bs-callout-info">
									Your list does not currently contain any applications.
								</div>
							</div>
						}
						else
						{
							<ul class="list-group list-group-flush">
								@foreach (var appListItem in Model.MyList)
								{
									var app = appListItem.Application;
									<li class="list-group-item d-flex align-items-center">
										<div class="flex-grow-1">
											<input class="form-check-input me-1" type="checkbox" data-val="true" value="true" id="appChk_@appListItem.Id" name="appChk_@appListItem.Id" title="Check this to include this application in the script generation." />											
											<label class="form-check-label" for="appChk_@appListItem.Id">@app.DisplayName</label>
											@if (appListItem.Version != null && !string.IsNullOrEmpty(appListItem.Version.Name))
											{
												<strong class="ms-4"><small>Version</small></strong>
												<span class="badge text-bg-secondary ms-2">@appListItem.Version.Name</span>
											}
											<small class="d-block text-body-secondary ms-4">@app.Description</small>
											<strong class="ms-4 me-2"><small>Install As:</small></strong>
											<div class="form-check form-switch form-check-inline">
												<input class="form-check-input" type="radio" role="switch" name="installAs_@appListItem.Id" id="installAs_@appListItem.Id" value="U" checked title="Check this to install this application as the logged in user." />
												<label class="form-check-label" for="installAs_@appListItem.Id">User</label>
											</div>
											<div class="form-check form-switch form-check-inline">
												<input class="form-check-input" type="radio" role="switch" name="installAs_@appListItem.Id" id="installAs_@appListItem.Id" value="S" title="Check this to install this application as the system." />
												<label class="form-check-label" for="installAs_@appListItem.Id">System</label>
											</div>
											<strong class="ms-4 me-2"><small>Uninstall Previous:</small></strong>
											<div class="form-check form-switch form-check-inline">
												<input class="form-check-input" type="checkbox" role="switch" name="uninstallPrev_@appListItem.Id" data-val="true" value="true" id="uninstallPrev_@appListItem.Id" title="Check this to uninstall the previous version of the package during upgrade." />
												<label class="form-check-label" for="uninstallPrev_@appListItem.Id"></label>
											</div>
											<strong class="ms-4 me-2"><small>Accept Agreements:</small></strong>
											<div class="form-check form-switch form-check-inline">
												<input class="form-check-input" type="checkbox" role="switch" name="acceptAgreements_@appListItem.Id" data-val="true" value="true" id="acceptAgreements_@appListItem.Id" title="Check this to accept the source license agreement, and avoid the prompt." />
												<label class="form-check-label" for="acceptAgreements_@appListItem.Id"></label>
											</div>
										</div>
										<div>
											<button type="submit" asp-page-handler="RemoveFromCart" asp-route-appId="@app.Id" asp-route-versionId="@appListItem.VersionId" class="btn btn-sm btn-outline-danger removeAppFromList" title="Click to remove this item from your list.">
												<svg class="bi" width="1em" height="1em"><use xlink:href="#bi-trash"></use></svg>
											</button>
										</div>
									</li>
								}
							</ul>
						}
						<div class="card-footer">
							<div class="row">
								<div class="col-md-3 col-sm-6">
									<div class="input-group">
										<button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Mode</button>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item installModeItem" href="#" data-installmode="I">Interactive</a></li>
											<li><a class="dropdown-item installModeItem" href="#" data-installmode="S">Silent</a></li>
										</ul>
										<input type="text" id="installModeSelection" class="form-control form-control-sm" value="Interactive" readonly aria-label="Installation Mode (silent or interactive)" />
										<input type="hidden" id="installMode" name="installMode" value="I" />
									</div>
								</div>
								<div class="col">
									<button type="submit" asp-page-handler="GenerateScript" class="btn btn-sm btn-outline-primary generateScriptFromList" title="Click to generate a script for the items on the list.">
										<svg class="bi" width="1em" height="1em"><use xlink:href="#bi-archive"></use></svg> Generate Scripts
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col">
				<div class="card">
					<div class="card-body">
						<label for="generatedScriptOutput" class="form-label" title="Generated Script Output">Script generated for you, based on application selections</label>
						<textarea id="generatedScriptOutput" rows="7" class="form-control" asp-for="@Model.GeneratedScript"></textarea>
					</div>
					<div class="card-footer d-flex align-items-center">
						<button id="copyToClipBtn" class="btn btn-outline-secondary btn-sm" title="Click to copy to the clipboard." @((!string.IsNullOrEmpty(Model.GeneratedScript)) ? null : new { disabled = "disabled" })>
							<svg class="bi" width="1em" height="1em"><use xlink:href="#bi-clipboard"></use></svg>
							Copy to Clipboard
						</button>
						<form method="post" asp-page-handler="CreatePS1" class="d-inline-flex ms-2">
							<button type="submit" class="btn btn-outline-secondary btn-sm" title="Click to download a powershell script file with your app scripts." @((!string.IsNullOrEmpty(Model.GeneratedScript)) ? null : new { disabled = "disabled" })>
								<svg class="bi" width="1em" height="1em"><use xlink:href="#bi-download"></use></svg>
								Download .ps1
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<partial name="_toastPartial" />
@section scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			$(".toast").toast('show');
			$("a.installModeItem").click(function () {
				$("#installModeSelection").val($(this).text());
				$("#installMode").val($(this).data("installmode"));
			});
			$(".removeAppFromList").click(function () {
				$(this).text("Loading...").prepend("<span class=\"spinner-grow spinner-grow-sm mx-2\"></span>").addClass("disabled");
			});
			$(".generateScriptFromList").click(function () {
				$(this).text("Loading...").prepend("<span class=\"spinner-grow spinner-grow-sm mx-2\"></span>").addClass("disabled");
			});
			$("#copyToClipBtn").click(function () {
				let copyTextarea = $("#generatedScriptOutput");
				copyTextarea.focus();
				copyTextarea.select();
				try {
					let successful = document.execCommand('copy');
					if (successful) {
						ShowSuccess($(this));
					}
					else {
						ShowFail($(this));
					}
				} catch (err) {
					alert('Unable to copy');
				}
			});
		})

		function ShowSuccess(button) {
			$(button).removeClass("btn-outline-secondary").addClass("btn-outline-success");
			let buttonText = $(button).text();
			$(button).html("<svg class=\"bi\" width=\"1em\" height=\"1em\"><use xlink:href=\"#bi-check-circle\"></use></svg> Copied Successfully!");
			window.setTimeout(function () { ResetButton(buttonText, $(button)) }, 3000);
		}

		function ShowFail(button) {
			$(button).removeClass("btn-outline-secondary").addClass("btn-outline-danger");
			let buttonText = $(button).text();
			$(button).html("<svg class=\"bi\" width=\"1em\" height=\"1em\"><use xlink:href=\"#bi-slash-circle\"></use></svg> Copy Failed!");
			window.setTimeout(function () { ResetButton(buttonText, $(button)) }, 3000);
		}

		function ResetButton(text, button) {
			$(button).removeClass("btn-outline-danger").removeClass("btn-outline-success").addClass("btn-outline-secondary");
			$(button).html("<svg class=\"bi\" width=\"1em\" height=\"1em\"><use xlink:href=\"#bi-clipboard\"></use></svg> " + text);
		}
	</script>
}