@page
@model NVD.Developer.Web.Pages.UserModel
@{
	ViewData["Title"] = "User Information";
}
<div class="container">
	<div class="row">
		<div class="col">
			<p class="lead mt-3">
				The user information was retrieved from Azure Entra Id as part of your authentication into this system. If you submitted any application requests, the requests will be displayed with the current status.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-8">
			<div class="card">
				<div class="card-header">
					User Information
				</div>
				<div class="card-body">
					<div class="row mb-3">
						<div class="col">
							<label asp-for="IdentityPrincipalData.Name" class="form-label" title="The user's name.'"></label>
							<input asp-for="IdentityPrincipalData.Name" class="form-control" type="text" readonly />
						</div>
						<div class="col">
							<label asp-for="IdentityPrincipalData.DisplayName" class="form-label" title="The user's display name.'"></label>
							<input asp-for="IdentityPrincipalData.DisplayName" class="form-control" type="text" readonly />
						</div>
					</div>
					<div class="row mb-3">
						<div class="col">
							<label asp-for="IdentityPrincipalData.Email" class="form-label" title="The users's email address.'"></label>
							<input asp-for="IdentityPrincipalData.Email" class="form-control" type="text" readonly />
						</div>
						<div class="col">
							<label asp-for="IdentityPrincipalData.Mobile" class="form-label" title="The user's mobile phone.'"></label>
							<input asp-for="IdentityPrincipalData.Mobile" class="form-control" type="text" readonly />
						</div>
					</div>
					<div class="row mb-3">
						<label asp-for="IdentityPrincipalData.Claims" class="form-label" title="The claims associated with the user."></label>
						<select asp-for="IdentityPrincipalData.Claims" class="form-select" multiple size="10" readonly>
							@foreach (var claim in Model.IdentityPrincipalData.Claims)
							{
								<option value="">@claim</option>
							}
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<nav>
				<div class="nav nav-tabs" id="user-tabs" role="tablist">
					<button class="nav-link active" id="nav-request-tab" data-bs-toggle="tab" data-bs-target="#nav-request" type="button" role="tab" aria-controls="nav-request" aria-selected="true">Requests</button>
					<button class="nav-link" id="nav-report-tab" data-bs-toggle="tab" data-bs-target="#nav-report" type="button" role="tab" aria-controls="nav-report" aria-selected="false">Reports</button>
				</div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="nav-request" role="tabpanel" aria-labelledby="nav-request-tab" tabindex="0">
					<div class="list-group">
						@foreach (var item in Model.AppRequests)
						{
							<a href="javascript:void(0);" class="list-group-item requestItem" data-id="@item.Id">
								<div><strong>@item.ApplicationName</strong></div>
								<div><small>Updated: @item.GetPrettyDateUpdated()</small></div>
								<div><small>Status: <span class="badge text-bg-secondary">@item.Status.StatusName</span></small></div>
							</a>
						}
						@if (Model.AppRequests == null || Model.AppRequests.Count().Equals(0))
						{
							<div class="bs-callout bs-callout-info">
								You have not submitted any requests for applications.
							</div>
						}
					</div>
				</div>
				<div class="tab-pane fade" id="nav-report" role="tabpanel" aria-labelledby="nav-report-tab" tabindex="0">
					<div class="list-group">
						@foreach (var item in Model.AppReports)
						{
							<a href="javascript:void(0);" class="list-group-item reportItem" data-id="@item.Id">
								<div><strong>@item.ApplicationName</strong></div>
								<div><small>Updated: @item.GetPrettyDateUpdated()</small></div>
								<div><small>Status: <span class="badge text-bg-secondary">@item.Status.StatusName</span></small></div>
							</a>
						}
						@if (Model.AppReports == null || Model.AppReports.Count().Equals(0))
						{
							<div class="bs-callout bs-callout-info">
								You have not submitted any application reports.
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal modal-lg fade" id="reportItemModal" tabindex="-1" aria-labelledby="reportItemModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="reportItemModalLabel">Application Report</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal modal-lg fade" id="requestItemModal" tabindex="-1" aria-labelledby="requestItemModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="requestItemModalLabel">Application Request</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<partial name="_toastPartial" />
@section Scripts {
	<script type="text/javascript" src="~/js/holder.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$(".toast").toast('show');
			$("a.requestItem").click(function () {
				GetApplicationRequest($(this).data("id"));
			});
			$("a.reportItem").click(function () {
				GetApplicationReport($(this).data("id"));
			});
		});
		function GetApplicationRequest(id) {
			$.ajax({
				url: '/APIs/AppRequest',
				data: {
					itemId: id
				}
			})
				.done(function (result) {
					if (result != null) {
						$("#requestItemModal .modal-body").html(result);
						$("#requestItemModal").modal('show');
					}
					else
					{
						CreateErrorToast("An error occurred while retrieving the application request.");
					}
				});
		}
		function GetApplicationReport(id) {
			$.ajax({
				url: '/APIs/AppReport',
				data: {
					itemId: id
				}
			})
				.done(function (result) {
					if (result != null) {
						$("#reportItemModal .modal-body").html(result);
						$("#reportItemModal").modal('show');
					}
					else
					{
						CreateErrorToast("An error occurred while retrieving the application report.");
					}
				});
		}
	</script>
}