@page
@model NVD.Developer.Web.Pages.Admin.ApplicationRequests.ItemModel
@{
	ViewData["Title"] = "Application Request Item";
}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
		<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
	</symbol>
	<symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
		<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
	</symbol>
	<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
		<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
	</symbol>
	<symbol id="x-circle-fill" viewBox="0 0 16 16">
		<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
	</symbol>
	<symbol id="circle-plus" viewBox="0 0 16 16">
		<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
		<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
	</symbol>
	<symbol id="bi-clipboard-check" viewBox="0 0 16 16">
		<path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
		<path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z" />
		<path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z" />
	</symbol>
</svg>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-10">
			<p class="lead mt-3">
				The following application was requested by a user. The user could not find this application, and he/she may need it for their daily job function. Please review this application information and proceed to change the status as you process it.
			</p>
			<div class="card mt-5">
				<form method="post">
					<div class="card-header">
						<h1 class="modal-title fs-5" id="requestAppModalLabel">Application Request Item</h1>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col">
								<div class="mb-3">
									<input type="hidden" name="userId" value="@Model.UserRequest.UserId" />
									<input type="hidden" asp-for="UserRequest.Id" />
									<input type="hidden" asp-for="UserRequest.DateUpdated" />
									<label asp-for="UserRequest.UserName" class="form-label"></label>
									<input type="text" asp-for="UserRequest.UserName" class="form-control" placeholder="Enter your full name" aria-label="Enter your full name." readonly= />
								</div>
							</div>
						</div>						
						<div class="row">
							<div class="col">
								<div class="mb-3">
									<label asp-for="UserRequest.UserContactNumber" class="form-label"></label>
									<input type="tel" asp-for="UserRequest.UserContactNumber" class="form-control" placeholder="Enter your phone number" aria-label="Enter your phone number." readonly />
								</div>
							</div>
							<div class="col">
								<div class="mb-3">
									<label asp-for="UserRequest.UserContactEmail" class="form-label"></label>
									<input type="email" asp-for="UserRequest.UserContactEmail" class="form-control" placeholder="Enter your email address" aria-label="Enter your email address." readonly />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="mb-3">
									<label asp-for="UserRequest.ApplicationName" class="form-label"></label>
									<input type="text" asp-for="UserRequest.ApplicationName" class="form-control" placeholder="Enter the name of an application" aria-label="Enter the name of an application." readonly />
								</div>
							</div>
							<div class="col">
								<div class="mb-3">
									<label asp-for="UserRequest.ApplicationVersion" class="form-label"></label>
									<input type="text" asp-for="UserRequest.ApplicationVersion" class="form-control" placeholder="Enter a version number like '1.0'" aria-label="Enter a version number like '1.0'" readonly />
								</div>
							</div>
						</div>
						<div class="mb-3">
							<label asp-for="UserRequest.RequestingReason" class="form-label"></label>
							<textarea asp-for="UserRequest.RequestingReason" class="form-control" placeholder="Enter a reason you are requesting this application/version" aria-label="Enter a reason you are requesting this application/version." readonly></textarea>
						</div>
						<div class="row">
							<div class="col">
								<div class="mb-3">
									<label asp-for="UserRequest.StatusId" class="form-label"></label>
									<div class="input-group mb-3">
										<input type="text" asp-for="UserRequest.Status.StatusName" class="form-control" aria-describedby="button-statusUpdate" readonly />
										<button class="btn btn-outline-secondary" type="button" id="button-statusUpdate" data-bs-toggle="modal" data-bs-target="#updateStatuModal">
											<svg class="bi " role="img" aria-label="Info:" width="16" height="16"><use xlink:href="#bi-clipboard-check" /></svg>
										</button>
									</div>
									
								</div>
							</div>
							<div class="col">
								<div class="mb-3">
									<label asp-for="UserRequest.DateCreated" class="form-label"></label>
									<input type="datetime" asp-for="UserRequest.DateCreated" class="form-control"  readonly />
								</div>
							</div>
							<div class="col">
								<div class="mb-3">
									<label asp-for="UserRequest.DateUpdated" class="form-label"></label>
									<input type="datetime" asp-for="UserRequest.DateUpdated" class="form-control" readonly />
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<button type="submit" class="btn btn-primary">Submit</button>
						<a href="/Admin/ApplicationRequests/Index" class="btn btn-secondary" title="Click to cancel">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="updateStatuModal" tabindex="-1" aria-labelledby="updateStatuModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" asp-page-handler="UpdateStatus">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="updateStatuModalLabel">Update Request Status</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input type="hidden" name="appReqId" value="@Model.UserRequest.Id" />
					<div class="mb-3">
						<label for="newStatusId" class="form-label">Select a new status</label>
						<select name="newStatusId" class="form-select">
							@if (Model.RequestStatusItems != null)
							{
								foreach (var statusItem in Model.RequestStatusItems)
								{
									if (statusItem.Id > Model.UserRequest.StatusId)
									{
										<option value="@statusItem.Id">@statusItem.StatusName</option>
									}
									else
									{
										<option value="@statusItem.Id" disabled>@statusItem.StatusName</option>
									}
								}
							}
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Update</button>
				</div>
			</form>
		</div>
	</div>
</div>
<partial name="_toastPartial" />
@section Scripts {
	<script type="text/javascript" src="~/js/holder.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$(".toast").toast('show');
		});
	</script>
}
