@using NVD.Developer.Core.Models
@model ApplicationReport
<div class="row">
	<div class="col">
		<div class="mb-3">
			<label asp-for="@Model.UserName" class="form-label"></label>
			<input type="text" asp-for="@Model.UserName" class="form-control" placeholder="Enter your full name" aria-label="Enter your full name." readonly />
		</div>
	</div>
	<div class="col">
		<div class="mb-3">
			<label asp-for="@Model.UserContactEmail" class="form-label"></label>
			<input type="email" asp-for="@Model.UserContactEmail" class="form-control" placeholder="Enter your email address" aria-label="Enter your email address." readonly />
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="mb-3">
			<label asp-for="@Model.ApplicationName" class="form-label"></label>
			<input type="text" asp-for="@Model.ApplicationName" class="form-control" placeholder="Enter the name of an application" aria-label="Enter the name of an application." readonly />
		</div>
	</div>
	<div class="col">
		<div class="mb-3">
			<label asp-for="@Model.ApplicationVersion" class="form-label"></label>
			<input type="text" asp-for="@Model.ApplicationVersion" class="form-control" placeholder="Enter a version number like '1.0'" aria-label="Enter a version number like '1.0'" readonly />
		</div>
	</div>
</div>
<div class="mb-3">
	<label asp-for="@Model.Description" class="form-label"></label>
	<textarea asp-for="@Model.Description" class="form-control" placeholder="Enter a reason you are reporting this application/version" aria-label="Enter a reason you are reporting this application/version." readonly></textarea>
</div>
<div class="row">
	<div class="col">
		<div class="mb-3">
			<label asp-for="@Model.StatusId" class="form-label"></label>
			<div class="input-group mb-3">
				<input type="text" asp-for="@Model.Status.StatusName" class="form-control" aria-describedby="button-statusUpdate" readonly />
			</div>
		</div>
	</div>
	<div class="col">
		<div class="mb-3">
			<label asp-for="@Model.DateCreated" class="form-label"></label>
			<input type="datetime" asp-for="@Model.DateCreated" class="form-control" readonly />
		</div>
	</div>
	<div class="col">
		<div class="mb-3">
			<label asp-for="@Model.DateUpdated" class="form-label"></label>
			<input type="datetime" asp-for="@Model.DateUpdated" class="form-control" readonly />
		</div>
	</div>
</div>
@if (Model.Comments != null && Model.Comments.Count() > 0)
{
	var item = Model.Comments[0];
	<div class="row bg-light">
		<div class="col">
			<h5 class="mt-2">Latest Comment</h5>
			<div class="d-flex my-4">
				<div class="flex-shrink-0">
					<svg class="bi flex-shrink-0 me-2" width="32" height="32" role="img"><use xlink:href="#file-person" /></svg>
				</div>
				<div class="flex-grow-1 ms-3">
					<div class="mb-2">
						<a href="javascript:void(0);" class="h6 btn-link" title="">@item.Author</a>
						<small class="ms-2 text-muted">Created @item.GetPrettyDateCreated()</small>
					</div>
					<p>@item.Comment</p>
				</div>
			</div>
		</div>
	</div>
}